/* .gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */

#root {
  height: 100vh;
}

.video {
  height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hpSection {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.idSection {
  height: 40px;
}

.heading {
  padding: 18px;
  font-size: 1.5em;
  font-weight: 100;
}

.generatedId {
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  padding: 24px;
}

.nameInp {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

.nameBtn {
  width: 20%;
  margin: 18px;
  font-size: 18px;
}

.messages {
  height: 400px;
  overflow: auto;
  background: bisque;
  margin: 12px;
}

.message {
  border-bottom: solid 1px rgb(88, 18, 18);
  padding: 20px;
}

.roomId {
  text-align: center;
  padding: 18px;
  font-size: 1.5em;
  font-weight: 100;
  background: antiquewhite;
  margin-bottom: 1.4%;
}

.id {
  font-weight: 600;
  text-decoration: underline;
}

.btnSection { 
  text-align: center;
}

.vComp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background: darksalmon !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black !important;
}

@media screen and (max-width: 570px) {
  .galleryPhotos {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 378px) {
  .video {
    height: 55vh;
  }
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
.messages::-webkit-scrollbar {
  width: 11px;
}
.messages {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.messages::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.messages::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}